*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
   
}
header button{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
header svg{
    width: 100px;
    height: 100px;
    color: red;
    z-index: 1;

}
main{
    height: 100vh;
    width: 100%;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/37372b0c-16ef-4614-9c66-f0464ffe4136/web/IN-en-20260216-TRIFECTA-perspective_74aa38a5-f527-417e-a604-a039567a350b_large.jpg");
    background-size: cover;
}

main p{
    z-index: 1;
    color: white;
    font-size: 70px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: 20px;
    
}

main h1{
    z-index: 1;
    color: white;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%)
}    
main div{
    z-index: 1;
    color: white;
    font-size: 70px;
    font-weight: 600;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%)
}   

